TrustedUserCAKeys {{ vouch_ca_key_path }}
{% if vouch_allowed_domains | length > 0 or vouch_authorized_principals | length > 0 %}
AuthorizedPrincipalsCommand {{ vouch_principals_command_path }} %u %t %k
AuthorizedPrincipalsCommandUser nobody
{% endif %}
RevokedKeys {{ vouch_revoked_keys_path }}
